<html ng-app="drchronoApp">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body ng-controller="mainController" ng-init="updateClientDate()">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-11">
          <p>Welcome <strong>{{ username }}</strong></p>
        </div>
        <div class="col-md-1">
          <a href="/logout">
            Logout
          </a>
        </div>
      </div>
      <!-- Disabling the Django template parsing to prevent conflicts with AngularJS parsing-->
      {% verbatim %}
      <p>{{ heading }}</p>
          <ul ng-repeat="p in patients">
            <div class="row">
                <div class="col-md-2">
                    <li ng-attr-id="{{ p.id }}">{{ p.first_name }} {{ p.last_name }}</li>
                </div>
                <div class="col-md-2">
                    <button ng-hide="p.id==selectedId" ng-click="sendWishes(p)">Send wishes</button>
                    <textarea ng-show="p.id==selectedId" id="emailMessage{{ p.id }}" ng-model="emailMessage" form="messageForm{{ p.id }}"></textarea>
                    <form ng-show="p.id==selectedId" id="messageForm{{ p.id }}" ng-submit="sendEmail(p.email)">
                        <input ng-hide="noEmail" type="submit" value="Send">
                        <button type="button" ng-click="cancelSend()">Cancel</button>
                    </form>
                </div>
            </div>
          </ul>
      <!-- Enabling the Django template parsing-->
      {% endverbatim %}
      </div>
  </body>
</html>
{% load static %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script type="text/javascript" src="{% static 'scripts/drchrono.js' %}"></script>